html,
body {
  overflow-x: hidden;
}

header {
  background-color: black;
  color: #fff;
  box-shadow: rgb(153, 153, 153) 0px 3px 10px;
}

header img {
  height: 100px;
}

header .title {
  font-size: 2.5rem;
}
header .sub-title {
  font-size: 1.2rem;
}

.o-title {
  font-size: 2rem;
}
.active {
  box-shadow: rgb(153, 153, 153) 0px 3px 10px;
  padding: 15px;
}
.card-deck .card {
  box-shadow: rgb(153, 153, 153) 0px 3px 10px;
  max-width: 320px;
}
.card-body {
  border-top: solid 3px black;
}
